html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem = 10px */
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

body {
  height: 100vh;
  background-image: url(../img/home.jpg);
  background-size: 50%;
  background-position: left;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.title {
  max-width: 100%;
  margin: 20rem;
  font-size: 2rem;
}

.text {
  letter-spacing: 0.2rem;
  font-family: "Alfa Slab One", cursive;
  padding-left: 30rem;
  font-weight: 800;
  text-align: center;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.2);
  padding-right: 5rem;
}
.text span {
  color: blue;
}

.contenet-form {
  height: 40rem;
  display: flex;
  justify-content: center;
  margin-left: 25rem;
}

.contenet {
  width: 95%;
}

.form {
  display: flex;
}

.form-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-input input,
button {
  border: none;
  outline: none;
}

.form-input input {
  width: 60vh;
  padding: 0.8rem;
  border-bottom: 0.1rem solid;
  margin-left: 10rem;
}
button i {
  margin-top: 2rem;
  font-size: 3rem;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.1),
    inset -5px -5px 5px rgba(255, 255, 255, 0.2),
    inset 5px 5px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

button i:hover {
  color: green;
  rotate: 360deg;
}
.list-class {
  height: 100vh;
  margin-left: 10rem;
}

.list-class h3 {
  text-align: center;
  color: white;
  padding: 0.5rem;
  margin: 6rem 0 1.5rem 0;
  background-color: #fcc466;
  border-radius: 1rem;
  box-shadow: 0px 25px 80px rgba(0, 0, 0, 0.5);
}

.alert-error {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 900;
  text-align: center;
  font-family: "Alfa Slab One", cursive;
  color: red;
}

.result {
  margin: 0;
}
.list-ul {
  background-color: #e7dddd;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #000000;
  padding-left: 3rem;
  margin-left: 1rem;
  transition: all 0.3s ease-in-out;
  list-style-image: url(/img/to-do-list.png);
  list-style-type: circle;
}
.list-ul:hover {
  transform: scale(1.1);
}

.borrar-list {
  float: right;
  cursor: pointer;
  color: rgb(14, 14, 14);
  font-weight: bold;
  background-color: transparent;
  position: relative;
  top: -25px;
  right: -5px;
}

.borrar-list i {
  position: static;
  box-shadow: none;
  color: #3f3e3ef8;
}

.borrar-list i:hover {
  color: red;
  rotate: 0deg;
}

@media screen and (max-width: 1700px) {
  .contenet-form {
    margin-left: 40rem;
  }
  .form-input input {
    width: 56vh;
  }
}
@media screen and (max-width: 855px) {
  .form-input {
    margin-right: 5rem;
  }
  .list-class {
    font-size: 1rem;
    margin-right: 5rem;
  }
}

@media screen and (max-width: 780px) {
  .contenet-form {
    font-size: 1.8rem;
  }
  .form-input {
    margin-right: 10rem;
  }
}
